<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="test">
        <classes>
            <class name="AuthorizationTest.AuthorizationTesting"/>
            <class name="TemperatureGetTest.TemperatureGainTest"/>
            <class name="APITest.APITest"/>
        </classes>
    </test>
</suite>